$bgcolor: #edffff;
body {
  background-color: $bgcolor;
}

header {
  z-index: 1;
}

section {
  padding: 4em;
  * {
    color: darkslategrey;
  }
  &.alter {
    * {
      color: rgb(83, 73, 52) !important;
    }
    background-color: #eeece7;
  }
}

.inline {
  display: inline-flex !important;
}

.mainMenu {
  background-color: darken($bgcolor, 25%) !important;
}
